@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 50px;

  /* transform-origin changes where the rotation begins */
  transform-origin: top left;
  /* make the rotation smoother */
  transition: transform 0.5s linear;

  width: 100vw;
}

/* to give the container the effect of rotating to the right*/
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  /* to only show half of the circle cuz it has 200px for both hieght and width */
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  border-radius: 50%;
  position: relative;
  height: 200px;
  transition: transform 05s linear;
  width: 200px;
}

.circle button {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform-origin: top left;
  transform: rotate(90deg);
}

.content img {
  max-width: 100%;
}
