@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  min-height: 100vh;
  padding: 50px;

  /* transform-origin changes where the rotation begins */
  transform-origin: top left;
  /* make the rotation smoother */
  transition: transform 0.5s linear;

  width: 100vw;
}

/* to give the container the effect of rotating to the right*/
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  /* to only show half of the circle cuz it has 200px for both hieght and width */
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  border-radius: 50%;
  position: relative;
  height: 200px;
  transition: transform 0.5s linear;
  width: 200px;
}

/* to make the circle rotate and show the close button when the show-nav class it put on */
.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform-origin: top left;
  transform: rotate(90deg);
}

/* makes the nav li's visible by setting them to 0 on the x axis with show-nav class is on */
.container.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

/* makes the the list items after the first one poke out to the right */
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

/* make the 3rd li stick out another 15px from the second one */
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  margin: 50px auto;
  max-width: 1000px;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
